* {
	font-family: 'Inter';
	font-style: normal;
}

body {
	max-width: 1920px;
	margin: auto;
}

h1 {
	font-size: 26px;
}

h2 {
	text-align: center;
	padding: 2em;
}

input[type="submit"] {
	background-color: #BEB45A;
	padding: .5em 1em
}

/*************** Header ********************/
header {
	background-color: white;
	position: sticky;
	top:0;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	padding-inline: 100px;
	padding-block: 30px;
	align-items: center;
}

nav ul {
	display: flex;
	list-style-type: none;
	font-size: 14px;
	margin-bottom: 0;
}

nav li {
	padding-inline: 10px;
}

nav a {
	text-decoration: none;
	color: #000
}

.social-link img {
	width: 20px;
}

/**************** A propos ***************/
#about-me {
	display: flex;
	background-color: #F6D2B8;
	padding-inline: 100px;
	padding-block: 100px;
	position: relative;
}

.photoNina::before {
	content: ' ';
	background-color: #E5975F;
	width: 374px;
	height: 329px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
}

.photoNina, .photoContact {
	flex: 1;
	margin: 0 20px;
	z-index: 0;
}

.photoNina img, .photoContact img {
	width: 100%;
}

#texteAbout-me {
	flex: 2;	
}

.introduction {
	font-family: 'Spectral';
	font-weight: 800;
	font-style: italic;
	width: 60%;
}

#texteAbout-me p {
	width: 80%;
}

#texteAbout-me .introduction{
	width: 60%;
}

#texteAbout-me h2 {
	margin-top: 1em;
    margin-bottom: 60px;
    font-size: 30px;
	text-align: left;
	padding: 0px;
}

/**************** Gallery ***********/

.gallery .nav {
	justify-content: center;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	color: black;
	background-color: #BEB45A;
	border-radius: 0 ;
}

.nav-pills .nav-link {
	color: #000
}

.item-column {
	position: relative;
	margin-bottom: 0 !important;
	padding: 0;
}

.item-column::after{
	content: "";
	display: block;
	padding-bottom: 100%;
}

.gallery-item {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	padding: .5em;
}

.mg-prev, .mg-next {
	width: 30px;
	height: 30px;
	border-radius: 00%;
	justify-content: center;
	align-items: center;
	display: flex;
	font-size: 24px;
}

/********** Citations **********/

.quote {
	width: 70%;
	margin: auto;
	padding-block: 3em;
}

.quote__text {
	font-family: "Spectral";
	font-style: italic;
	font-weight: 300;
	font-size: 2.5rem;
}

.quote__author {
	font-family: "Spectral";
	font-weight: 800;
	font-size: 22px;
}

/************** Services **************/
#services {
	margin: auto;
	background-color: #A8D5D8 ;
	position: relative;
}

#services .container::before{
	content: ' ';
	background-color: #1C6474;
	position: absolute;
	width: 100%;
	height: 30%;
	bottom: 0;
	left: 0;
	z-index: 0;
}

#services .container {
	display: flex;
	justify-content: space-between;
	padding : 2em 0;
}

.service {
	background-color: white;
	max-width: 390px;
	width: 30%;
	height: 337px;
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 1;
}

/************* Contact **************/
#contact {
	margin: auto;
	background-color: #D8D3A8 ;
	position: relative;
	padding-inline: 100px;
	padding-block: 100px;
}

#contact .container {
	display: flex;
}

.form-container {
	flex : 2;
}

form {
	display: flex;
	flex-direction: column;
	width: 70%;
	align-items: flex-start;
}

form input {
	width: 100%;
	background-color: transparent;
	border: solid 1px;
	height: 2.5em;
	margin-bottom: 20px;
}

form textarea {
	width: 100%;
	background-color: transparent;
	border: solid 1px;
	height: 5em;
	line-height: 2.5em;
	font-size: 1.2em;
	margin-bottom: 20px;
}

.photoContact::before {
	content: ' ';
	background-color: #BEB45A;
	width: 374px;
	height: 329px;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
}

/************** Footer **************/
footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

footer div {
	display: flex;
	flex-direction: column;
	padding: 10px;
	font-size: 14px;

}

@media all and (max-width: 1180px) {
	h3 {
		margin-top: 0;
		margin-bottom: 1em;
	}

	.photoNina, .photoContact{
		flex : 2;
	}

	#about-me, #contact .container {
		align-items: center;
	}

	#texteAbout-me p {
		width: 100%;
	}
}

@media all and (max-width: 1000px) {
	/* About me */
	#about-me{
		flex-direction: column;
	}

	.photoNina, .photoContact {
		width: 50%;
	}

	.photoNina::before {
		width: 100%;
		height: 30%;
		position: absolute;
		bottom: auto;
		top: 0;
		left: 0;
		z-index: -1;
	}

	#texteAbout-me h2{
		text-align: center;
		margin-top: 1em;
		font-size: 1rem
	}

	/* Services */
	#service .container {
		flex-direction: column;
	}

	.service {
		width: 100%;
		max-width: 100%;
		height: auto;
		margin: 2em 0
	}

	.service__description {
		margin-bottom: 1em;
	}

	#service .container::before {
		width: 30%;
		height: 100%;
		bottom: 0;
		right: 0;
		left: auto;
		z-index: 0;
	}

	/* Contact */
	#contact .container {
		flex-direction: column;
	}

	.photoContact {
		margin-top: 1em;
	}

	.photoContact::before {
		width: 100%;
		height: 30%;
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: -1;
	}
}

@media all and (max-width: 650px) {
	/* Header */
	header {
		flex-direction: column;
		padding-inline: 0;
	}

	nav, ul {
		width: 100%;
		padding: 0 0 0 0;
	}

	li {
		flex: 1;
		padding-block: 1em;
		text-align: center;
	}

	/* About Me */
	.photoNina::before, .photoContact::before {
		height: 150px;
	}
	
	.photoNina, .photoContact {
		width: 80%;
	}

	/* Services */
	#services .container {
		align-items: center;
	}

	.service {
		max-width: 90%;
	}

	#about-me, #contact {
		padding-inline: 2em;
		padding-block: 2em;
	}

	/* Contacts */
	form {
		width: 100%;
	}


}

/* .photoContact::before,.photoNina::before{width:374px;height:329px;position:absolute;z-index:-1;content:' ';bottom:0}.nav-pills .nav-link,nav a{color:#000}.introduction,.quote__text{font-style:italic;font-family:Spectral}.introduction,.quote__author,.quote__text{font-family:Spectral}.service,header{background-color:#fff;display:flex}#about-me,#contact{position:relative;padding-inline:100px;padding-block:100px}#about-me,#contact .container,.mg-next,.mg-prev,.service,form,header,nav ul{display:flex}*{font-family:Inter;font-style:normal}body{max-width:1920px;margin:auto}h1{font-size:26px}h2{text-align:center;padding:2em}header{position:sticky;top:0;z-index:1000;justify-content:space-between;padding-inline:100px;padding-block:30px;align-items:center}nav ul{list-style-type:none;font-size:14px;margin-bottom:0}nav li{padding-inline:10px}nav a{text-decoration:none}.social-link img{width:20px}#about-me{background-color:#f6d2b8}.photoNina::before{background-color:#e5975f;left:0}.photoContact::before{background-color:#beb45a;right:0}.photoContact,.photoNina{flex:1;margin:0 20px;z-index:0}.photoContact img,.photoNina img{width:100%}#texteAbout-me,.form-container{flex:2}.introduction{font-weight:800;width:60%}#texteAbout-me p{width:80%}#texteAbout-me .introduction{width:60%}#texteAbout-me h3{margin-top:1em;margin-bottom:60px;font-size:30px}.gallery .nav{justify-content:center}.nav-pills .nav-link.active,.nav-pills .show>.nav-link{color:#fff;background-color:#beb45a;border-radius:0}.item-column{position:relative;margin-bottom:0!important;padding:0}.item-column::after{content:"";display:block;padding-bottom:100%}.gallery-item{position:absolute;width:100%;height:100%;object-fit:cover;padding:.5em}.mg-next,.mg-prev{width:30px;height:30px;border-radius:00%;justify-content:center;align-items:center;font-size:24px}form input,form textarea{width:100%;background-color:transparent;border:1px solid;margin-bottom:20px}.quote{width:70%;margin:auto;padding-block:3em}.quote__text{font-weight:300;font-size:2.5rem}.quote__author{font-weight:800;font-size:22px}#services{margin:auto;background-color:#a8d5d8;position:relative}#services .container::before{content:' ';background-color:#1c6474;position:absolute;width:100%;height:30%;bottom:0;left:0;z-index:0}#services .container{display:flex;justify-content:space-between;padding:2em 0}.service{max-width:390px;width:30%;height:337px;padding:1em;flex-direction:column;justify-content:space-between;z-index:1}#contact{margin:auto;background-color:#d8d3a8}form{flex-direction:column;width:70%;align-items:flex-start}form input{height:2.5em}form textarea{height:5em;line-height:2.5em;font-size:1.2em}input[type=submit]{background-color:#beb45a;padding:.5em 1em}@media all and (max-width:1180px){h3{margin-top:0;margin-bottom:1em}.photoContact,.photoNina{flex:2}#about-me,#contact .container{align-items:center}#texteAbout-me p{width:100%}}@media all and (max-width:1000px){.photoContact::before,.photoNina::before{height:30%;position:absolute;z-index:-1;width:100%}#about-me,#contact .container,#service .container{flex-direction:column}.photoContact,.photoNina{width:50%}.photoNina::before{bottom:auto;top:0;left:0}#texteAbout-me h2{text-align:center;margin-top:1em;font-size:1rem}.service{width:100%;max-width:100%;height:auto;margin:2em 0}.service__description{margin-bottom:1em}#service .container::before{width:30%;height:100%;bottom:0;right:0;left:auto;z-index:0}.photoContact{margin-top:1em}.photoContact::before{bottom:0;right:0}}@media all and (max-width:650px){form,nav,ul{width:100%}header{flex-direction:column;padding-inline:0}nav,ul{padding:0}li{flex:1;padding-block:1em;text-align:center}.photoContact::before,.photoNina::before{height:150px}.photoContact,.photoNina{width:80%}#services .container{align-items:center}.service{max-width:90%}#about-me,#contact{padding-inline:2em;padding-block:2em}} */
